<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Подтверждение регистрации</title>
</head>
<body>
    <p>Здравствуйте, {{ user.username }}!</p>

    <p>Спасибо за регистрацию на нашем сайте.</p>

    <p>Пожалуйста, перейдите по ссылке ниже, чтобы активировать ваш аккаунт:</p>

    <p><a href="{{ activation_url }}">{{ activation_url }}</a></p>

    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>

    <p>С уважением,<br>Команда сайта</p>
</body>
</html>
