# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django environment & virtualenv
env/
venv/
.Python

# Environment variables
.env
*.env

# Static and media files (если генерируются автоматически)
staticfiles/
media/

# Logs
*.log

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# IDEs & editors
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db
